.main-content {
  background-color: aliceblue;
}

.new-item-form {
  // border: 1px solid red;
  box-sizing: border-box;
  max-width: 640px;
  margin: 0 auto;
  padding: 55px;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  font: 14px sans-serif;
  text-align: center;

}

form {
  display: block;
}